.idea
.git
yarn.lock
node_modules
dist
MD
.env
.env.example
.gitmodules
.github
.gitignore
Makefile
compose.yml
compose.prod.yml
compose.prod.db.yml
kubernetes-backend.yaml
kubernetes-db.yaml
README.md
prod
test
Dockerfile
mongo.Dockerfile