.idea
.git
yarn.lock
node_modules
dist
MD
.env
.env.example
.secrets.env
.gitmodules
.github
.gitignore
Makefile
compose.*
kubernetes-backend.yaml
kubernetes-db.yaml
README.md
prod
test
Dockerfile
mongo.Dockerfile